name: test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: pip install -e .[dev]
      - name: Run mypy
        run: mypy . --ignore-missing-imports
      - name: Run tests
        run: pytest --cov=.
